.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
    gap: 20px;

    margin-top: 80px; 
}


.addButton {
    margin: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 30px;
    color: #333;
    background-color: rgba(200, 200, 200, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.addButton:hover {
    background-color: rgba(200, 200, 200, 0.8);
}